*{
    padding: 0px;
    margin: 0px;
    font-family: 'Lora', serif;
    text-align: center;
}
body{
    background-image: url("/css/Assets/HP/background.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    display: flex;
    background-color: rgba(228, 182, 122, 0.422);
    width: 500px;
    height: 400px;
    display: inline-block;
    vertical-align: center;
    position: absolute;
    top: 50%;
   transform: translate(-0% , -50%);
}
.names{
    width:40%;
    padding: 10px;
    margin-top: 60px;
}
.mail{
    padding: 10px;
    margin: 10px;
    width: 400px;

}
.genderc{
    color: rgb(47, 29, 6);
    font-weight: bold;
}
.button{
    margin: 10px;
    padding: 10px;
    border-style: hidden;
    font-weight: bold;
    color: rgb(47, 29, 6);
}
div div{
    height: 20px;
    margin: 10px;
}
