@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  font-size: smaller;
}

body{
  background-image: url("/HP/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* ! HEADER CSS */

header{
    display: flex;
    justify-content: space-between;
    background-color: #CD853F;
}

/* * START LOGO */
.logot{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logot img{
    width: calc(8px + 4vw);
    padding-left: calc(1px + 0.6vw);
}

.logot h2{
    padding-left: calc(1px + 0.6vw);
    padding-right: calc(1px + 0.6vw);
    font-size: calc(5px + 1.3vw);
    font-weight: 600;
}
/* *END LOGO */

/* * START NAVIGATION BAR */
.menuDiv {
    background-color: #F4A460;
    color: #2e70a9;
    border-radius: 10px;
}

.menuDiv ul {
    display: flex;
}
.menuDiv ul li {
    list-style: none;
}

.menuDiv ul li a {
    color: black ;
    text-decoration: none;
    padding: calc(2px + 1.5vw);
    display:  flex;
    align-content: center;
    font-size: calc(2px + 1vw);
    transition: ease-in-out all .3s;
    text-align: center;
}

.menuDiv ul li a:hover {
    color: #fff;
    background: #2e70a9;
}

#topMenu .lt :hover {
    color: #fff;
    background: #2e70a9;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
}

#topMenu .rt :hover {
    color: #fff;
    background: #2e70a9;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
/* * END NAVIGATION BAR */

/* * START PROFILE MENU */
.profile {
    /* background-color: chocolate; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.prof_photo {
    width: calc(15px + 3vw);
    padding-right: calc(1px + 0.6vw);
    padding-left: calc(1px + 0.6vw);
}

.profile form input {
    width: calc(5px + 13vw);
    height: calc(10px + 1.5vw);
    border: 3px solid black;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

input,
input::-webkit-input-placeholder {
    font-size: calc(5px + 1vw);
    line-height: 3;
}

.profile form button {
    background: #DC143C;
    color: white;
    border: 3px solid black;
    border-left: none;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: calc(15px + 0.8vw);
}

.profile form button img{
    width: calc(5px + 1.3vw);
}

.profile form {
    display: flex;
    padding-left: calc(1px + 0.6vw);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #cd753f;
    border-radius: 10px;
}

.dropdown-content a {
    color: black;
    padding: calc(1px + 0.5vw);
    text-decoration: none;
    display: block;
    font-size: calc(4px + 0.8vw);
}

.dropdown-content .t:hover {
    background-color: #CD853F;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.dropdown-content .b:hover {
    background-color: #CD853F;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/* *END PROFILE MENU */


/* Main CSS */
.title{
    background-color: #B22222;
    text-align: center;
    padding: calc(8px + 1.4vw);
    font-size: calc(13px + 1vw);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
}

.categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cards{
    transition: 300ms ease-in-out;
    margin: 2.5%;
    background-color: rgb(219, 165, 107);
    border-radius: 4%;

}

.cards img{
    width: calc(100px + 14vw);
    aspect-ratio: 3/4;
    border-radius: 4% 4% 0 0 ;
}

.cards a{
    text-decoration: none;
    color: black;
}

.cards h4{
    text-align: center;
    font-size: calc(7px + 0.9vw);
    padding: calc(5px + 0.5vw);
}

.cards:hover{
    transition: 300ms ease-in-out;
    transform: scale(1.1);
    z-index: 2;
    color: #00838d

}

/* ! FOOTER CSS */

footer {
    display: flex;
    padding: calc(1px + 0.8vw);
    justify-content: space-evenly;
    background-color: #B22222;
    position: relative;
}

.about {
    width: 30%;
}

.about h4 {
    margin: 2%;
    text-align: center;
    font-size: calc(10px + 0.8vw);
    color: #FFF0F5;
}

.about p {
    padding-bottom: 5%;
    text-align:justify;
    color: #FFF0F5;
    font-size: calc(5px + 0.6vw);
    /* border: 2px solid black; */
}

.cont {
    color: #FFF0F5;
    font-size: calc(8px + 0.6vw);
}

.book,
.help{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.book h4,
.help h4{
    color: #FFF0F5;
    margin: 2%;
    font-size: calc(10px + 0.8vw);
    text-align: center;
}

.book ul,
.help ul{
    align-self: center;
}

.book ul li,
.help ul li{
    list-style: none;
    font-size: calc(7px + 0.9vw);
    margin: calc(2px + 0.5vw);
}

.book ul li a,
.help ul li a{
    text-decoration: none;
    color: #FFF0F5;
}

